<!DOCTYPE html>

<!-- FENETRES CONTACTS -->
<div class="frame window">
    <div class="window-titlebar">
        <div class="window-titlebar-left">
            <img src="../resources/img/ttbar_icon-bggrad.png?v=1" height="42px">
            <h2 class="window-titlebar-title">About us</h2>
        </div>

        <div class="window-titlebar-buttons">
            <h2><a class="plain_link" href="../main/index.html"><img src="../resources/img/ttbar_icon-close.png?v=2" alt="red cross (close window)" width="26px" height="24px"></a></h2>
        </div>
    </div>

    <hr class="window-seperation">
    <!-- Contenu de la fenetre -->
    <div class="window-content normal">
        <h2>Founders<hr></h2>
        <!-- flatwan -->
        <div class="msn">
            <div class="msn-pic">
                <div class="msn-pic-image">
                    <img src="../resources/img/flatwan.png?v=2">
                </div>
                <div class="msn-pic-frame">
                    <a href="../about/flatwan.html"><img src="../resources/img/msn_frame.png?v=2"></a>
                </div>
            </div>
            <h3><a href="../about/flatwan.html">flatwan</a></h3>
        </div>
        
        <!-- Wired1carus -->
        <div class="msn">
            <div class="msn-pic">
                <div class="msn-pic-image">
                    <img src="../resources/img/cherry.jpg?v=1">
                </div>
                <div class="msn-pic-frame">
                    <a href="../about/cherry.html"><img src="../resources/img/msn_frame.png?v=2"></a>
                </div>
            </div>
            <h3><a href="../about/cherry.html">1carus</a></h3>
        </div>

        <br>

        <h2>Friends<hr></h2>
        <!-- Perle -->
        <div class="msn">
            <div class="msn-pic">
                <div class="msn-pic-image">
                    <img src="../resources/img/missing.png">
                </div>
                <div class="msn-pic-frame">
                    <img src="../resources/img/msn_frame.png?v=2">
                </div>
            </div>
            <h3><a href="../other/not_found.html">Perle</a></h3>
        </div>

        <!-- Luciel -->
        <div class="msn">
            <div class="msn-pic">
                <div class="msn-pic-image">
                    <img src="../resources/img/missing.png">
                </div>
                <div class="msn-pic-frame">
                    <img src="../resources/img/msn_frame.png?v=2">
                </div>
            </div>
            <h3><a href="../other/not_found.html">Luciel</a></h3>
        </div>
        
        <!-- Etimo -->
        <div class="msn">
            <div class="msn-pic">
                <div class="msn-pic-image">
                    <img src="../resources/img/missing.png">
                </div>
                <div class="msn-pic-frame">
                    <img src="../resources/img/msn_frame.png?v=2">
                </div>
            </div>
            <h3><a href="../other/not_found.html">Etimo</a></h3>
        </div>
    </div>
</div>
