<!DOCTYPE html>

<div id="top_container">
    <header>
        <div id="top_bar">
            <div id="construction">
                <marquee><strong>IN CONSTRUCTION | PLEASE STAND BY</strong></marquee>
            </div>
        </div>

        <div id="header_area">
            <nav id="navbar" style="margin-bottom: 10px;" class="warp-flex-align">
                <!-- Main -->
                <a href="./index.html"><img class="logo rot_on_hover" src="./resources/logo.png?v=1" alt="kaodotnet logo (brings to main page)"></a>
                <p><a href="./index.html" class="plain_link change_on_hover">
                    <span class="no_change"><strong>kao(dot)net</strong></span>
                    <span class="change"><strong>K40(D0T)N3T</strong></span>
                </a></p>

                <!-- About us -->
                <a href="./about.html"><img class="logo rot_on_hover" src="./resources/about_icon.png?v=1" alt="2 stylized people (brings to about us page)"></a>
                <p><a href="./about.html" class="plain_link change_on_hover">
                    <span class="no_change"><strong>about us</strong></span>
                    <span class="change"><strong>4B0UT U5</strong></span>
                </a></p>

                <!-- Projects -->
                <a href="./projects.html"><img class="logo rot_on_hover" src="./resources/projects_icon.png?v=1" alt="window showing flower image (brings to projects page)"></a>
                <p><a href="./projects.html" class="plain_link change_on_hover">
                    <span class="no_change"><strong>projects</strong></span>
                    <span class="change"><strong>PR0J3CT5</strong></span>
                </a></p>

                <!-- Contact us -->
                <a href="./contact.html"><img class="logo rot_on_hover" src="./resources/contact_icon.png?v=1" alt="mails (brings to contact us page)"></a>
                <p><a href="./contact.html" class="plain_link change_on_hover">
                    <span class="no_change"><strong>contact us</strong></span>
                    <span class="change"><strong>C0NT4CT U5</strong></span>
                </a></p>

                <!-- Friends -->
                <a href="./friends.html"><img class="logo rot_on_hover" src="./resources/friends_icon.png?v=1" alt="2 people (brings to friends page)"></a>
                <p><a href="./friends.html" class="plain_link change_on_hover">
                    <span class="no_change"><strong>friends</strong></span>
                    <span class="change"><strong>FR13ND5</strong></span>
                </a></p>

                <!-- Cool stuff -->
                <a href="./cool.html"><img class="logo rot_on_hover" src="./resources/cool_icon.png?v=1" alt="random colored bricks (brings to cool stuff page)"></a>
                <p><a href="./cool.html" class="plain_link change_on_hover">
                    <span class="no_change"><strong>cool stuff</strong></span>
                    <span class="change"><strong>C00L 5TUFF</strong></span>
                </a></p>
            </nav>
        </div>
    </header>
</div>
