<!DOCTYPE html>

<div id="top_container">
    <header>
        <div id="top_bar">
            <div id="construction">
                <marquee><strong>IN CONSTRUCTION | PLEASE STAND BY</strong></marquee>
            </div>
        </div>

        <div id="header_area">
            <nav id="navbar" style="margin-bottom: 10px;" class="warp-flex-align">
                <a href="./index.html"><img class="logo rot_on_hover" src="./resources/logo.png?v=1" alt="kaodotnet logo"></a>
                <p><a href="./index.html" class="plain_link"><strong>kao(dot)net</strong></a></p>
            </nav>
        </div>
    </header>
</div>
