.window {
    border: solid #7a7a7a;
    border-width: 6px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: max-content;
    max-width: 100%;

    background-color: transparent;
}

.frame.window {
    background-color: transparent !important;
}

.window-titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: url("./resources/ttbar-grad.png?v=1");
    background-size: auto 32px;

    height: 32px;

    padding-left: 0;
    padding-right: 4px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
    white-space: nowrap;
}
.window-titlebar-title {
    margin: 0;
    padding-left: 0.5em;

    white-space: nowrap;
}
.window-titlebar-left {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}
.window-titlebar-buttons {
    margin: 0;
    padding-left: 1em;

    white-space: nowrap;
}

.window-seperation {
    width: 100%;
    margin: 0;
    border: 0;
    border-top: 0.2vw solid #7a7a7a;
    border-width: 6px;
}

.window-content {
    background-color: transparent;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow-y: auto;

    background-image: url("./resources/window-grad_bg.png?v=1");
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Icones de bureau/explorer (ne pas mettre dans window-content)*/
.explorer {
    display: flex;
    flex-wrap: wrap;
    margin-left:1vw;
    margin-right:1vw;
}
.explorer_icon {
    margin-top: 3vh;
    padding-top: 0; 
    width: fit-content;
    animation: rwdcur254000 1s linear infinite forwards; /*CURSEUR HOVER/SELECT*/
    /* background-color: white; */ /*DEBUG*/
}
.explorer_icon.selected {
    background-color: rgba(49, 106, 197, 0.35);
    /* SI UNE IMAGE REMPLI AU MAX, ON VOIT PAS BEAUCOUP LA SELECTION MAIS TANT PIS */
}
.explorer_icon-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8vw;
  height: auto;
}
.explorer_icon-bigicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16vw;
  height: auto;
}
.explorer_icon-text {
    text-align: center;
    margin-top: 1%;
}

/*Layout MSN*/
.msn {
    display: flex;
    align-items: flex-start;
    gap: 1vw;
}

.msn-pic {
    position: relative;
    display: inline-block;
}
.msn-pic-image {
    position: absolute;
    padding-left: 7px;
    padding-top: 9px;
}
.msn-pic-image img {
    width: 64px;
    height: 64px;
}
.msn-pic-frame {
    position: relative;
}
.msn-pic-frame img {
    width: 80px;
    height: 80px;
}

.member_list {
    gap:1%;
}

.member {
    gap:3%;
}
